{% extends "base.html" %}

{% load static %}
{% block content %}
<div class="container">
    <h1>Управление справочниками</h1>

    <div class="row mb-4">

        <div class="col-md-6">
            {% include 'includes/model_table.html' with data=status_table %}
        </div>

        <div class="col-md-6">
            {% include 'includes/model_table.html' with data=type_table %}
        </div>
    </div>

    <hr>

    <div class="row">

        <div class="col-md-6">
            {% include 'includes/model_table.html' with data=category_table %}
        </div>

        <div class="col-md-6">
            {% include 'includes/model_table.html' with data=subcategory_table %}
        </div>
    </div>
</div>


{% load static %}

<div class="modal fade" id="deleteConfirmModal" tabindex="-1" aria-labelledby="deleteConfirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteConfirmModalLabel">Подтверждение удаления</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="deleteForm" method="post" action="">
                {% csrf_token %}
                <div class="modal-body">
                    Вы уверены, что хотите удалить объект: <span id="objectNamePlaceholder"></span> (ID: <span id="objectIdPlaceholder"></span>)?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-danger">Подтвердить удаление</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="{% static '/modal/js/deleteRecord.js' %}"></script>


<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Редактирование...</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form id="editForm" method="post" action="">
                <div class="modal-body">
                    {% csrf_token %}

                    <div id="editModalBody" class="p-3">Загрузка формы...</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-primary" id="modalSubmitButton">Сохранить</button>
                </div>
            </form>

        </div>
    </div>
</div>


<script src="{% static '/modal/js/addUpdRecord.js' %}"></script>

{% endblock %}
